<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DWS |
        <%= title %>
    </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/" class="nav-link">Home</a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">

            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fas fa-cog"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">Account</span>
                    <div class="dropdown-divider"></div>
                    <a href="/auth/logout" class="dropdown-item">
                        <i class="fas fa-sign-out-alt"></i> Ausloggen
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="/auth/changepwd" class="dropdown-item">
                        <i class="fas fa-key"></i> Passwort ändern
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/" class="brand-link">
            <img src="/dist/img/dws-white.png" alt="DWS Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light"><b>D</b>igitales<b>W</b>ahl<b>S</b>ystem</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <% for (let i = 0; i < nav.length; i++) { %>
                        <li class="nav-item">
                            <a href="<%= nav[i].href %>"
                               class="nav-link <% if (nav[i].filename == pagename) { %> active <% } %>">
                                <i class="nav-icon fas <%= nav[i].icon %>"></i>
                                <p>
                                    <%= nav[i].title %>
                                </p>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>
                            <%= title %>
                        </h1>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Abstimmungen</h3>

                    <div class="card-body p-0 table-responsive">
                        <table class="table table-striped projects">
                            <thead>
                            <tr>
                                <th style="width: 20%">
                                    ID
                                </th>
                                <th style="width: 20%">
                                    Titel
                                </th>
                                <th>
                                    Beschreibung
                                </th>
                                <th>
                                    Start der Abstimmung
                                </th>
                                <th>
                                    Ende der Abstimmung
                                </th>
                                <th style="width: 8%">
                                    Status
                                </th>
                                <th style="width: 8%">
                                    Bearbeitung
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            <% for (let i = 0; i < votes.length; i++) { %>
                            <tr>
                                <td>
                                    <p>
                                        <%= votes[i]._id %>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <%= votes[i].title %>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <%= votes[i].description %>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <%= votes[i].date.startDate.toLocaleDateString('de-DE', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }); %>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <%= votes[i].date.endDate.toLocaleDateString('de-DE', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }); %>
                                    </p>
                                </td>
                                <td>
                                    <% if (votes.isVoteRunning) { %>
                                        <p>Abstimmung läuft</p>
                                    <% } else { %>
                                        <p>Abstimmung läuft nicht</p>
                                    <% } %>
                                </td>
                                <td>
                                    <a href="/admin/vote/<%= votes[i]._id %>">Abstimmung Bearbeiten</a>
                                </td>
                                <% } %>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="/admin/vote/new" type="button" class="btn btn-outline-success" style="margin-top: 5px">Abstimmung
                        erstellen</a>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <strong>Copyright &copy; 2020 DWS Inc.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- /wrapper -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
</body>